<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Шаг 6 / Фреймворк AngularJS / Нетология</title>
        <script src="../libs/angular-1.5.3/angular.js"></script>
    </head>

    <body ng-controller="BookListCtrl">

        Найти:
        <input ng-model="query"><br><br>

        Сортировать по:
        <select ng-model="orderProperty">
            <option value="">Выбрать</option>
            <option value="genre">Жанру</option>
            <option value="name">Названию</option>
            <!--<option value="price">Цене</option>-->
            <!--<option value="pages">Количеству страниц</option>-->
        </select>

        Фильтровать по жанру:
        <select ng-model="genre">
            <option value="">Выбрать</option>
            <option value="fantasy">Фентези</option>
            <option value="comedy">Комедии</option>
            <option value="IT">IT</option>
            <!--<option ng-repeat="book in books | filter:unique" value="{{book.genre}}">{{book.genre}}</option>-->
        </select>

        <div class="card" style="float: right;">
            <h2>Карточка продукта</h2>
            <h3>{{singleBook.name | uppercase}}</h3>
            <p>{{singleBook.author}}</p>
            <p>{{singleBook.genre}}</p>
            <p>Страниц:
                {{singleBook.pages}}, цена:
                {{singleBook.price}}</p>
        </div>

        <ul>
            <li ng-repeat="book in books | filter:query | filter:genre | orderBy:orderProperty">
                <h3>{{book.name | uppercase}}</h3>
                <p>{{book.author}}</p>
                <p>{{book.genre}}</p>
                <p>Страниц:
                    {{book.pages}}, цена:
                    {{book.price}}</p>
            </li>
        </ul>

        <p ng-show="query">
            Выведены книги, содержащие
            {{query}}
        </p>

        <script src="js/step6/app.js"></script>
        <script src="js/step6/controllers.js"></script>

    </body>

</html>
